 # Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/.idea/
/generated_type.java
/native_vm/ConsoleApplication1/.vs/
/native_vm/ConsoleApplication1/ConsoleApplication1/Debug/
/native_vm/ConsoleApplication1/Debug/
/native_vm/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
/native_vm/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/native_vm/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.user
/out/
/native_vm/ConsoleApplication1/example.txt
/native_vm/ConsoleApplication1/program.exe
/native_vm/ConsoleApplication1/test.cmd
/native_vm/ConsoleApplication1/TestClass1.langclass
/native_vm/ConsoleApplication1/TestClass1.txt
